* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    color: #fff;
    min-height: 100dvh;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: background-image 300ms ease-in-out, background-color 300ms ease-in-out;
}

main {
    width: 100%;
    height: 100dvh;
    display: grid;
    place-content: center;
}